# 忽略VS Code工作区配置
Marching_Map.code-workspace
__pycache__/
.venv/
.vscode/

# 忽略常见日志文件
*.log
*.jsonl
*.json
*.pdf

# 忽略指定文件
初步构想.txt
阶段性工作日志.txt
fields/
saves/
test.py
文件结构.txt
架构.txt

# 忽略打包文件
dist/
build/
*.spec